@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans:wght@500&family=Open+Sans:wght@300;400;500&family=Roboto:wght@100&display=swap');

*{  
    margin: 0;
    padding: 0;
    font-family: 'Josefi', sans-serif;
    text-align: center;
    color: blue;
    text-decoration: none;
    list-style: none;
}
/* cabeçalho */

.container .btn-link {
    margin-top: 30px;
    margin-right: 10px;
    padding: 5px;
    background-color: blue;
    border-radius: 10px;
 
    transform: 20s;
}
.link {
    color: white;
    background: blue;
    font-size: 12px;
}
.link:hover {
    font-size: 13px;
    transition: 1s;

}

/* fim cabeçalho */
.texto-explicativo {
    color: black;
    margin-top: 20px;
    font-size: 15px;
}
body {
    background: linear-gradient(90deg, rgba(154, 174, 186, 0.81), rgb(159, 67, 67));}
.principal {
    margin-top: 15%;
    font-weight: bold;
}
.secundaria {
    margin: 30px;
}
.texto-resultado {
    
    margin: 30px;
    font-size: 18px;
}
/*botão*/
#btn {
    position: relative;
    padding: 5px;
    background: blue;
    border-radius: 10px;
    transition: 2s;
    transform: 2s;
    cursor: pointer;
}
#btn p {
    color: white;
    background: blue;
    font-size: 15px;
}
#btn p:hover {
    font-size: 16px;
    color: yellow;
}
/*input*/
#valor {
    background: white;
    width: 130px;
    padding: 5px;
    border-radius: 5px;
}
.texto-resultado {
    margin: 20px ;
}
#resultado {
    padding: 3px;
    border: 1px solid black;
    border-radius: 20px;
    background: white;

}
.meses {
    margin: 10px;
    
}
/*Rodapé*/
footer {
    position: relative;
    display: inline-block;
}
.github, .linkedin, .instagram {
    width: 30px;  
}
.copyright {
    color: black;
    font-size: 10px;
    text-align: center;   
}
/*Formatação para mobile*/
@media screen and (max-width: 480px) {
    .principal, .secundaria, .texto-resultado, p, #btn{
        width: auto;
    }
    .instagram {
        display: inline-block;
        position: relative;
        width: 20px;
    }
    .github, .linkedin {
        margin: 0 0 0 5%;
        display: inline-block;
        position: relative;
        width: 20px;
    }
}
